# Initial imports

In [1]:
!pip install plotly --upgrade

Requirement already satisfied: plotly in c:\users\thiag\appdata\local\programs\python\python310\lib\site-packages (5.11.0)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\thiag\appdata\local\programs\python\python310\lib\site-packages (from plotly) (8.1.0)

In [2]:
import pandas as pd   # lib pra trabalhar com o carregamento de arquivos .csv
import numpy as np    # lib pra processamento de matrizes
import seaborn as sns # lib pra visualização de gráficos
import matplotlib.pyplot as plt # lib pra visualização de gráficos também
import plotly.express as px # lib pra gerar gráficos dinâmicos

In [3]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.naive_bayes import GaussianNB, BernoulliNB, MultinomialNB
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from yellowbrick.classifier import ConfusionMatrix
from sklearn.preprocessing import StandardScaler
import pickle

In [4]:
submit = pd.read_csv(r'C:\Users\thiag\Downloads\Planilhas Estudos\sigmageek\Submit.csv', delimiter=';', skiprows=0, low_memory=False)
dataset = pd.read_csv(r'C:\Users\thiag\Downloads\Planilhas Estudos\sigmageek\Dataset_model.csv', delimiter=',', skiprows=0, low_memory=False)
subjects = pd.read_csv(r'C:\Users\thiag\Downloads\Planilhas Estudos\sigmageek\subjects_questions.csv', delimiter=',', skiprows=0, low_memory=False)

# Consultas

In [5]:
submit

,novo_user_id,city,country,device,device_type,os,platform,region,gp:carrers,gp:college type,...,institute_id,knowledge_area_id,modality_id,nullified,outdated,product_id,publication_year,right_answer,scholarity_id,novo_question_id
0,1,Rio de Janeiro,Brazil,Apple iPhone,Apple iPhone 11 Pro Max,ios 15.4.1,iOS,Rio de Janeiro,"Tribunal, Administrativa",NaN,...,6289.0,13.0,1.0,0.0,0.0,1.0,2021.0,B,3.0,484766
1,2,São Paulo,Brazil,Windows,Windows,Chrome 104,Web,Sao Paulo,Tribunal,NaN,...,2994.0,53.0,1.0,0.0,0.0,1.0,2016.0,C,3.0,159545
2,3,NaN,Brazil,Apple iPhone,Apple iPhone 11,ios 15.5,iOS,Minas Gerais,"Controle e Gestão, Outras, Administrativa",NaN,...,20.0,14.0,1.0,0.0,0.0,1.0,2017.0,C,3.0,233145
3,4,Recife,Brazil,Windows,Windows,Chrome 104,Web,Pernambuco,"Fiscal, Tribunal, Policial, Legislativa, Jurídica",NaN,...,36.0,9.0,2.0,0.0,0.0,1.0,2014.0,C,3.0,108082
4,5,Brasília,Brazil,Windows,Windows,Chrome 99,Web,Federal District,Bancária,NaN,...,6001.0,13.0,1.0,0.0,0.0,1.0,2015.0,A,3.0,151695
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,19996,Brasília,Brazil,Windows,Windows,Chrome 104,Web,Federal District,Policial,NaN,...,5757.0,9.0,1.0,0.0,0.0,1.0,2022.0,D,3.0,495716
19996,19997,São Luís,Brazil,Samsung Phone,Samsung Galaxy J4 Core,android 8.1.0,Android,Maranhao,Policial,NaN,...,5783.0,9.0,1.0,0.0,0.0,5.0,2021.0,A,2.0,471278
19997,19998,Salvador,Brazil,Windows,Windows,Chrome 104,Web,Bahia,Administrativa,NaN,...,2791.0,2.0,1.0,0.0,0.0,1.0,2021.0,E,2.0,441819
19998,19999,NaN,Brazil,Samsung Phone,Samsung Galaxy M51,android 12,Android,Alagoas,Administrativa,NaN,...,6453.0,2.0,1.0,0.0,0.0,1.0,2021.0,A,2.0,443217
19999,20000,NaN,Brazil,Apple iPhone,Apple iPhone 11,ios 15.6,iOS,Sao Paulo,Saúde,NaN,...,265.0,27.0,1.0,0.0,0.0,1.0,2019.0,D,3.0,426068

In [6]:
dataset

,novo_user_id,city,country,device,device_type,os,platform,region,gp:carrers,gp:college type,...,institute_id,knowledge_area_id,modality_id,nullified,outdated,product_id,publication_year,right_answer,scholarity_id,novo_question_id
0,1,Rio de Janeiro,Brazil,Apple iPhone,Apple iPhone 11 Pro Max,ios 15.4.1,iOS,Rio de Janeiro,"Tribunal, Administrativa",NaN,...,4126.0,13.0,1.0,0.0,0.0,1.0,2022.0,A,2.0,489400
1,1,Rio de Janeiro,Brazil,Apple iPhone,Apple iPhone 11 Pro Max,ios 15.4.1,iOS,Rio de Janeiro,"Tribunal, Administrativa",NaN,...,4126.0,13.0,1.0,0.0,0.0,1.0,2022.0,C,2.0,489399
2,1,Rio de Janeiro,Brazil,Apple iPhone,Apple iPhone 11 Pro Max,ios 15.4.1,iOS,Rio de Janeiro,"Tribunal, Administrativa",NaN,...,4126.0,13.0,1.0,0.0,0.0,1.0,2022.0,D,2.0,489398
3,1,Rio de Janeiro,Brazil,Apple iPhone,Apple iPhone 11 Pro Max,ios 15.4.1,iOS,Rio de Janeiro,"Tribunal, Administrativa",NaN,...,4126.0,13.0,1.0,0.0,0.0,1.0,2022.0,A,2.0,489397
4,1,Rio de Janeiro,Brazil,Apple iPhone,Apple iPhone 11 Pro Max,ios 15.4.1,iOS,Rio de Janeiro,"Tribunal, Administrativa",NaN,...,4126.0,13.0,1.0,0.0,0.0,1.0,2022.0,E,2.0,489396
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1999995,20000,NaN,Brazil,Apple iPhone,Apple iPhone 11,ios 15.6,iOS,Sao Paulo,Saúde,NaN,...,6901.0,27.0,1.0,0.0,0.0,1.0,2019.0,A,3.0,433505
1999996,20000,NaN,Brazil,Apple iPhone,Apple iPhone 11,ios 15.6,iOS,Sao Paulo,Saúde,NaN,...,6901.0,27.0,1.0,0.0,0.0,1.0,2019.0,A,3.0,432606
1999997,20000,NaN,Brazil,Apple iPhone,Apple iPhone 11,ios 15.6,iOS,Sao Paulo,Saúde,NaN,...,6901.0,27.0,1.0,0.0,0.0,1.0,2019.0,B,3.0,432605
1999998,20000,NaN,Brazil,Apple iPhone,Apple iPhone 11,ios 15.6,iOS,Sao Paulo,Saúde,NaN,...,3270.0,27.0,1.0,0.0,0.0,1.0,2019.0,B,3.0,430934
1999999,20000,NaN,Brazil,Apple iPhone,Apple iPhone 11,ios 15.6,iOS,Sao Paulo,Saúde,NaN,...,4659.0,27.0,1.0,0.0,0.0,1.0,2019.0,D,3.0,428960

In [7]:
subjects

         subject_id  novo_question_id
0           14655.0                15
1           19271.0                15
2           14655.0                16
3           19271.0                16
4           14655.0                17
...             ...               ...
1088859         NaN            500690
1088860         NaN            500691
1088861         NaN            500692
1088862         NaN            500693
1088863         NaN            500694

[1088864 rows x 2 columns]

In [8]:
submit.tail(5) # retorna os ultimos valores

,novo_user_id,city,country,device,device_type,os,platform,region,gp:carrers,gp:college type,...,institute_id,knowledge_area_id,modality_id,nullified,outdated,product_id,publication_year,right_answer,scholarity_id,novo_question_id
19995,19996,Brasília,Brazil,Windows,Windows,Chrome 104,Web,Federal District,Policial,NaN,...,5757.0,9.0,1.0,0.0,0.0,1.0,2022.0,D,3.0,495716
19996,19997,São Luís,Brazil,Samsung Phone,Samsung Galaxy J4 Core,android 8.1.0,Android,Maranhao,Policial,NaN,...,5783.0,9.0,1.0,0.0,0.0,5.0,2021.0,A,2.0,471278
19997,19998,Salvador,Brazil,Windows,Windows,Chrome 104,Web,Bahia,Administrativa,NaN,...,2791.0,2.0,1.0,0.0,0.0,1.0,2021.0,E,2.0,441819
19998,19999,NaN,Brazil,Samsung Phone,Samsung Galaxy M51,android 12,Android,Alagoas,Administrativa,NaN,...,6453.0,2.0,1.0,0.0,0.0,1.0,2021.0,A,2.0,443217
19999,20000,NaN,Brazil,Apple iPhone,Apple iPhone 11,ios 15.6,iOS,Sao Paulo,Saúde,NaN,...,265.0,27.0,1.0,0.0,0.0,1.0,2019.0,D,3.0,426068

In [9]:
submit.head(15) # retorna os primeiros registros

,novo_user_id,city,country,device,device_type,os,platform,region,gp:carrers,gp:college type,...,institute_id,knowledge_area_id,modality_id,nullified,outdated,product_id,publication_year,right_answer,scholarity_id,novo_question_id
0,1,Rio de Janeiro,Brazil,Apple iPhone,Apple iPhone 11 Pro Max,ios 15.4.1,iOS,Rio de Janeiro,"Tribunal, Administrativa",NaN,...,6289.0,13.0,1.0,0.0,0.0,1.0,2021.0,B,3.0,484766
1,2,São Paulo,Brazil,Windows,Windows,Chrome 104,Web,Sao Paulo,Tribunal,NaN,...,2994.0,53.0,1.0,0.0,0.0,1.0,2016.0,C,3.0,159545
2,3,NaN,Brazil,Apple iPhone,Apple iPhone 11,ios 15.5,iOS,Minas Gerais,"Controle e Gestão, Outras, Administrativa",NaN,...,20.0,14.0,1.0,0.0,0.0,1.0,2017.0,C,3.0,233145
3,4,Recife,Brazil,Windows,Windows,Chrome 104,Web,Pernambuco,"Fiscal, Tribunal, Policial, Legislativa, Jurídica",NaN,...,36.0,9.0,2.0,0.0,0.0,1.0,2014.0,C,3.0,108082
4,5,Brasília,Brazil,Windows,Windows,Chrome 99,Web,Federal District,Bancária,NaN,...,6001.0,13.0,1.0,0.0,0.0,1.0,2015.0,A,3.0,151695
5,6,Manaus,Brazil,Windows,Windows,Chrome 99,Web,Amazonas,Jurídica,NaN,...,6151.0,9.0,1.0,0.0,0.0,1.0,2018.0,E,3.0,261482
6,7,Parnamirim,Brazil,Windows,Windows,Edge 104,Web,Rio Grande do Norte,"Tribunal, Policial, Legislativa, Jurídica",NaN,...,6070.0,9.0,1.0,0.0,0.0,1.0,2019.0,E,3.0,318623
7,8,NaN,Brazil,Samsung Phone,Samsung Galaxy A8+(2018),android 9,Android,Sao Paulo,NaN,NaN,...,33.0,9.0,1.0,0.0,0.0,1.0,2012.0,D,3.0,59630
8,9,Brasília,Brazil,Windows,Windows,Edge 104,Web,Federal District,"Legislativa, Administrativa, Outras",NaN,...,140.0,9.0,2.0,0.0,0.0,1.0,2017.0,E,3.0,232926
9,10,Brasília,Brazil,Samsung Phone,Samsung Galaxy A30s,android 11,Android,Federal District,"Fiscal, Policial",NaN,...,5720.0,13.0,1.0,0.0,0.0,1.0,2010.0,B,3.0,14102
10,11,Nova Russas,Brazil,Windows,Windows,Chrome 102,Web,Ceara,Jurídica,NaN,...,79.0,9.0,1.0,0.0,0.0,1.0,2013.0,B,3.0,72965
11,12,Palmas,Brazil,Windows,Windows,Firefox 99,Web,Tocantins,"Jurídica, Fiscal",NaN,...,5778.0,9.0,1.0,0.0,0.0,1.0,2015.0,E,3.0,126358
12,13,Brasília,Brazil,Windows,Windows,Firefox 100,Web,Federal District,Fiscal,NaN,...,6061.0,2.0,2.0,0.0,0.0,1.0,2018.0,E,2.0,274984
13,14,Fortaleza,Brazil,Windows,Windows,Chrome 104,Web,Ceara,"Policial, Educação",NaN,...,153.0,9.0,2.0,0.0,0.0,1.0,2013.0,C,3.0,73154
14,15,Rio das Ostras,Brazil,Samsung Tablet,"Samsung Galaxy Tab A (8.0"", 2019)",Chrome 103,Web,Rio de Janeiro,Administrativa,NaN,...,150.0,9.0,1.0,0.0,0.0,1.0,2010.0,B,3.0,24549

In [10]:
submit.describe() # descreve a tabela com dados como contador, medias

,novo_user_id,acertou,row,commented_by_professor,difficulty,discipline_id,examining_board_id,institute_id,knowledge_area_id,modality_id,nullified,outdated,product_id,publication_year,scholarity_id,novo_question_id
count,20000.000000,0.0,20000.0,19998.000000,19971.000000,19998.000000,19998.000000,19998.000000,19998.000000,19998.000000,19998.000000,19998.000000,19998.000000,19998.000000,19998.000000,20000.000000
mean,10000.500000,NaN,101.0,0.550055,1.986380,73.479248,185.471997,4566.410591,15.827583,1.261176,0.002200,0.014751,1.371137,2016.806581,2.637864,275686.744000
std,5773.647028,NaN,0.0,0.497501,0.855753,139.629803,344.021431,2908.245488,29.957755,0.439287,0.046856,0.120560,1.281997,3.827439,0.522218,137444.806864
min,1.000000,NaN,101.0,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,1.000000,2000.000000,1.000000,16.000000
25%,5000.750000,NaN,101.0,0.000000,1.000000,3.000000,2.000000,925.000000,9.000000,1.000000,0.000000,0.000000,1.000000,2015.000000,2.000000,171023.750000
50%,10000.500000,NaN,101.0,1.000000,2.000000,9.000000,63.000000,5782.000000,9.000000,1.000000,0.000000,0.000000,1.000000,2018.000000,3.000000,277156.500000
75%,15000.250000,NaN,101.0,1.000000,3.000000,56.000000,211.000000,6270.000000,14.000000,2.000000,0.000000,0.000000,1.000000,2019.000000,3.000000,391992.500000
max,20000.000000,NaN,101.0,1.000000,5.000000,593.000000,3712.000000,10265.000000,324.000000,2.000000,1.000000,1.000000,9.000000,2022.000000,3.000000,500594.000000

In [11]:
dataset.describe()

,novo_user_id,acertou,row,commented_by_professor,difficulty,discipline_id,examining_board_id,institute_id,knowledge_area_id,modality_id,nullified,outdated,product_id,publication_year,scholarity_id,novo_question_id
count,2.000000e+06,2.000000e+06,2.000000e+06,1.999822e+06,1.997371e+06,1.999822e+06,1.999818e+06,1.999818e+06,1.999822e+06,1.999822e+06,1.999822e+06,1.999822e+06,1.999822e+06,1.999813e+06,1.999822e+06,2.000000e+06
mean,1.000050e+04,6.542805e-01,5.050000e+01,5.536108e-01,2.000066e+00,7.162386e+01,1.818057e+02,4.531887e+03,1.587639e+01,1.247017e+00,2.577229e-03,1.783759e-02,1.381521e+00,2.016652e+03,2.636847e+00,2.671826e+05
std,5.773504e+03,4.756024e-01,2.886608e+01,4.971177e-01,8.548664e-01,1.370548e+02,3.342118e+02,2.904510e+03,3.041109e+01,4.312768e-01,5.070097e-02,1.323609e-01,1.304370e+00,3.789063e+00,5.234967e-01,1.354817e+05
min,1.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,2.000000e+03,1.000000e+00,1.000000e+00
25%,5.000750e+03,0.000000e+00,2.575000e+01,0.000000e+00,1.000000e+00,2.000000e+00,2.000000e+00,8.350000e+02,9.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,2.015000e+03,2.000000e+00,1.645358e+05
50%,1.000050e+04,1.000000e+00,5.050000e+01,1.000000e+00,2.000000e+00,9.000000e+00,6.300000e+01,5.782000e+03,9.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,2.018000e+03,3.000000e+00,2.709695e+05
75%,1.500025e+04,1.000000e+00,7.525000e+01,1.000000e+00,3.000000e+00,5.300000e+01,2.070000e+02,6.259000e+03,1.400000e+01,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,2.019000e+03,3.000000e+00,3.717530e+05
max,2.000000e+04,1.000000e+00,1.000000e+02,1.000000e+00,5.000000e+00,5.930000e+02,3.851000e+03,1.027800e+04,3.250000e+02,2.000000e+00,1.000000e+00,1.000000e+00,9.000000e+00,2.022000e+03,3.000000e+00,5.006940e+05

In [ ]:
submit['acertou'][50:59]

In [ ]:
np.unique(submit['scholarity_id']) # conta os valores únicos da coluna

In [ ]:
np.unique(submit['scholarity_id'], return_counts=True) # conta os valores únicos de cada valor

In [ ]:
count = 0
for col in dataset.columns:
    print(count, col)
    count+=1

In [ ]:
submit.loc[submit['gp:carrers'] != submit['gp:carrers']] # Verifica os valores NaN na coluna gp:carrers

In [ ]:
dataset.loc[dataset['row'] != dataset['row']] # Verifica os valores NaN na coluna row

In [ ]:
submit.mean() # Média de todos os atributos

In [ ]:
submit['difficulty'].mean()

In [ ]:
# Verificação da média caso haja algum valor inconsistente (Ex: -1), porém nesta tabela não há valores numéricos 
# inconsistentes tanto no nas variáveis contínuas e discretas
media = submit['difficulty'][submit['difficulty'] > 0].mean()

In [ ]:
submit.loc[submit['difficulty'] < 0, 'difficulty'] = media # Recebe o valor da média real nos dados inconsistentes
# É expressamente necessário passar a coluna que irá mudar de valor, caso contrário aplicará para todas

In [ ]:
dataset.loc[dataset['row'] == 0, 'row'] = 1 # Recebe o valor da média real nos dados inconsistentes
# É expressamente necessário passar a coluna que irá mudar de valor, caso contrário aplicará para todas

## Tratamento de Valores Faltantes

In [ ]:
submit.isnull().sum() # Verificação dos valores faltantes e a soma deles nas colunas

In [ ]:
submit.loc[submit['commented_by_professor'].isnull()] # Verificação dos registros NaN

In [ ]:
dataset.loc[dataset['row'].isnull()] # Verificação dos registros NaN

In [ ]:
submit['commented_by_professor'].fillna(0, inplace=True) # Preenche os valores NaN

In [ ]:
submit.loc[submit['novo_user_id'].isin([29, 88, 1021])] # Verificação de usuários por id utilizando .isin()

## Divisão entre previsores e classe

In [ ]:
x_dataset = dataset.iloc[:, 17].values # COLUNA ROW
x_dataset

In [ ]:
dataset[202:225]['acertou']

In [ ]:
dataset[200:250]['commented_by_professor']

In [ ]:
y_dataset = dataset.iloc[:, 15].values # COLUNA ACERTOU
y_dataset

In [ ]:
dataset.loc[dataset['novo_question_id'] == 72467]

In [ ]:
#dataset['nullified'][[19936, 19937,19938,19939,19949,19952,35581,138247,209796,337298,767052]]